[submodule "io-exp/megaTinyCore"]
	path = io-exp/megaTinyCore
	url = https://github.com/SpenceKonde/megaTinyCore.git
	branch = master
[submodule "zephyr"]
	path = zephyr
	url = git@github.com:dpw13/zephyr.git
	branch = dwagner/vestal-vamp
