/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x20000>;
		};
		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 0x60000>;
		};
		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 0x60000>;
		};

		storage_partition: partition@e0000 {
			label = "storage";
			reg = <0x000e0000 0x00020000>;
		};
	};
};

&fdcan1 {
	status = "disabled";
};

&octospi1 {
	pinctrl-0 = <&octospim_p1_dqs_pa1 &octospim_p1_clk_pa3 &octospim_p1_io0_pa2 &octospim_p1_io1_pb0 &octospim_p1_io2_pa7 &octospim_p1_io3_pa6>;
	pinctrl-names = "default";
	status = "okay";
};

&adc1 {
	st,adc-clock-source = <1>;
	st,adc-prescaler = <4>;
	vref-mv = <3300>;
	status = "okay";
};

&adc2 {
	st,adc-clock-source = <1>;
	st,adc-prescaler = <4>;
	vref-mv = <3300>;
	status = "okay";
};

&dac1 {
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&bdma1 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&dmamux2 {
	status = "okay";
};

&sram4 {
	zephyr,memory-attr = <DT_MEM_ARM_MPU_RAM_NOCACHE>;
	status = "okay";
};

&mac {
	status = "okay";
};

&spi1 {
	fifo-enable;

	auxdisplay_0: display@0 {
		compatible = "ptc,pt6314";
		spi-max-frequency = <2500000>;
		status = "okay";

		reg = <0>;
		columns = <10>;
		rows = <4>;
	};
};
