/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};

	aliases {
		audio-in = &adc1;
	};

	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc1 19>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x20000>;
		};
		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 0x60000>;
		};
		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 0x60000>;
		};

		storage_partition: partition@e0000 {
			label = "storage";
			reg = <0x000e0000 0x00020000>;
		};
	};
};

&fdcan1 {
	status = "disabled";
};

&octospi1 {
	pinctrl-0 = <&octospim_p1_dqs_pa1 &octospim_p1_clk_pa3 &octospim_p1_io0_pa2 &octospim_p1_io1_pb0 &octospim_p1_io2_pa7 &octospim_p1_io3_pa6>;
	pinctrl-names = "default";
	status = "okay";
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&adc1_inp19_pa5>;	/* PA5 */
	pinctrl-names = "default";

	st,adc-clock-source = <SYNC>;
	/* 34375 kHz or 550 MHz/16 */
	st,adc-prescaler = <4>;
	vref-mv = <3300>;
	status = "okay";

	dmas = <&dmamux1 3 9 (STM32_DMA_PERIPH_TO_MEMORY | STM32_DMA_MEM_INC |
		       STM32_DMA_MEM_16BITS | STM32_DMA_PERIPH_16BITS)>;
	dma-names = "rx";

	channel@13 {
		reg = <19>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 17)>;
		zephyr,resolution = <16>;
		zephyr,trig-src = <13>;
	};
};

&adc2 {
	st,adc-clock-source = <1>;
	st,adc-prescaler = <4>;
	vref-mv = <3300>;
	status = "disabled";
};

&dac1 {
	pinctrl-0 = <&dac1_out1_pa4>;
	pinctrl-names = "default";
	status = "okay";

	dmas = <&dmamux1 4 67 (STM32_DMA_MEMORY_TO_PERIPH | STM32_DMA_MEM_INC |
		       STM32_DMA_MEM_16BITS | STM32_DMA_PERIPH_16BITS)>;
	dma-names = "tx";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&bdma1 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&dmamux2 {
	status = "okay";
};

&sram4 {
	zephyr,memory-attr = <DT_MEM_ARM_MPU_RAM_NOCACHE>;
	status = "okay";
};

&mac {
	status = "okay";
};

&spi1 {
	fifo-enable;

	auxdisplay_0: display@0 {
		compatible = "ptc,pt6314";
		spi-max-frequency = <2500000>;
		status = "okay";

		reg = <0>;
		columns = <10>;
		rows = <4>;
	};
};

&timers6 {
	st,prescaler = <16>;
	status = "okay";

	counter {
		status = "okay";
	};
};